tomli-w
asyncua~=1.1.8

{"agent": {"flush_interval": "10ms", "interval": "10ms"}, "inputs": {"opcua": [{"endpoint": "opc.tcp://localhost:4840/freeopcua/server/", "nodes": [{"identifier": "1", "identifier_type": 2, "name": "V1", "namespace": "2"}, {"identifier": "2", "identifier_type": 2, "name": "V2", "namespace": "2"}]}, {"endpoint": "opc.tcp://127.0.0.1:4840/freeopcua/server/", "nodes": [{"identifier": "1", "identifier_type": 2, "name": "V1", "namespace": "2"}, {"identifier": "2", "identifier_type": 2, "name": "V2", "namespace": "2"}]}]}, "outputs": {"influxdb_v2": [{"bucket": "test", "organization": "test", "token": "${INFLUX_TOKEN}", "urls": ["http://influxdb:8086"]}]}}
{"agent": {"flush_interval": "10ms", "interval": "10ms"}, "inputs": {"opcua": [{"endpoint": "opc.tcp://localhost:4840/freeopcua/server/", "nodes": [{"identifier": "1", "identifier_type": "i", "name": "V1", "namespace": "2"}, {"identifier": "2", "identifier_type": "i", "name": "V2", "namespace": "2"}]}, {"endpoint": "opc.tcp://127.0.0.1:4840/freeopcua/server/"}]}, "outputs": {"influxdb_v2": [{"bucket": "test", "organization": "test", "token": "${INFLUX_TOKEN}", "urls": ["http://influxdb:8086"]}]}}